body {
font-family: 'Roboto', sans-serif;
background: #6fbfe2 url(images/bg.png) top center repeat-y;
color: #06090f;
margin: 0;
}
td, tr {padding: 0 10px; font-size: 18px; text-align: justify;}
header{padding-top: 55px;}
footer {text-align: center; width: 100%; height: 100px;}
.clr {clear: both;}
img {border: none;}
a {border: none !important;}
p {margin: 5px 0; font-size: 18px; color: #121e24; font-weight: bold;}
#content p {margin: 15px 0; font-size: 18px; color: #121e24; font-weight: bold; text-align: right;}
h1 {color: #22165d; font-size: 30px;}
h2 {text-align: center; font-size: 25px; color: #22165d; text-transform: uppercase;}
h3 {color: #e30710;}
#top_menu {background: url(images/nav-bg.png) top center repeat-x; height: 55px; width: 100%; position: fixed;}
#top_menu ul {height: 50px; width: 1024; clear: both; display: block; padding: 0; margin: 0 auto;}
#top_menu li {float: left; height: 50px; display: block; padding: 10px 10px; font-size: 24px; font-weight: normal; margin: 0 10px;}
#top_menu a {color: #22165d; height: 30px; text-decoration: none;}
#clouds {background: url(images/clouds.png) top center no-repeat; padding: 0;}
#logo{
	float: left; max-width: 430px;
}

.heading-line{
	background: url(images/h2-bg.png) bottom center repeat-x; height: 15px;
}

.link-to-item{
	color:#0000FF; text-decoration: none;
}

.link-to-item:hover{
	color:#0000FF; text-decoration: underline;
}

.contacts {text-align: right;}
.order {float: right; width: 45%; margin: 10px 0;}
.obtekaet-right {float: left; shape-outside: inset(1% round 45%); padding: 0 5px 5px 0;}
.obtekaet-left {float: right; shape-outside: inset(1% round 45%); padding: 0 0 5px 5px;}
.potreb-left {float: left; width: 58%;}
.potreb-right {float: right; width: 38%;}
.potreb-right img {float: right; width: 100%; max-width: 400px;}
.water-elements {float: left; font-style: italic; font-weight: bold; width: 31%; padding: 0 10px; font-size: 18px;}
.about-water {float: left; padding: 30px; font-size: 18px; text-align:justify;}
.page {width: 85%; clear: both; height: auto; margin: 0 auto;}
.page-no-padding{width: 85%; clear: both; height: auto; margin: 0 auto;}
.vacancies {font-weight: bold; text-shadow: 1px 1px 1px #000000; text-align: right;}
.discount {clear: both; background: url(images/water.png) top center repeat-x; height: 400px; margin: 15px 0;}
.discount p {font-weight: bold; text-shadow: 1px 1px 1px #000000; color: #ffffff;}
.discount img {width: 390px;}
.discount-text{color: #ffffff; text-align: right; padding-top: 100px;}
.discount-text-red {color: #e30710; font-size: 47px; font-weight: bold;}
.discount-text-white {font-weight: bold; text-shadow: 1px 1px 1px #000000; color: #ffffff; font-size: 26px;}
.discount-text-description {font-size: 15px; color: white;}
.discount-text-italic{font-style:italic; font-size: 26px;}
.red {color: #e30710; font-size: 24px; text-shadow: 1px 1px 1px #ffffff;}
.red-sp {color: #e30710; font-weight: bold; font-size: 20px; text-align: center;}
.twenty {font-size: 20px;}
.button-order {
	padding: 12px 48px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: block;
    width: fit-content;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background: #1873ff;
    -webkit-transition: background .5s ease-out;
    -moz-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    transition: background .5s ease-out;
}
.button-order:hover{
    background: #1200ff;
}
.coolers{display: flex;flex-wrap: wrap;justify-content: center;}
.float-left {float: left; margin-top: -20px;}
.delivery-conditions h1{text-align: right;}
.delivery-conditions p{text-align: right;}
img.to-left {float: left; vertical-align: middle;}
.float-right {float: right; width: 600px; font-weight: bold; text-shadow: 1px 1px 1px #000000; text-align: right; padding-top: 50px;}
.ob-item {    
	float: left;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
.ob-item img {
	width: 200px; 
	height: 200px;  
	margin-right: 10px; 
	border-radius:24px;
-moz-border-radius:24px;
-webkit-border-radius:24px;
-webkit-box-shadow:0.4em 0.4em 5px rgba(122,122,122,0.5);
-moz-box-shadow:0.4em 0.4em 5px rgba(122,122,122,0.5);
	box-shadow:0.4em 0.4em 5px rgba(122,122,122,0.5);
	margin-bottom: 15px;
}
ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 7%;
    list-style: none;
    z-index:999999;
    width:50%;
}
ul#navigation li {
    width: 23%;
    display:inline;
    float:left;
    margin: 0 2px;
}
ul#navigation li a {
    display: block;
    float:left;
    margin-top: 2px;
    width: 100%;
    height: 25px;
    background-color:#e3f5fc;
    background-repeat:no-repeat;
    background-position:50% 10px;
    border: 1px solid #74c8ec;
    text-decoration:none;
    text-align:center;
    padding-top:50px;
    -moz-border-radius:0px 0px 5px 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    opacity: 0.95;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    font-size: 16px;
    color: #22165d;
    text-shadow: 0 -1px 1px #ffffff;
}
ul#navigation .o-dostavke a{
    background-image: url(images/o-dostavke.png);
}
ul#navigation .o-vode a{
    background-image: url(images/o-vode.png);
}
ul#navigation .o-oborudovanii a{
    background-image: url(images/o-oborudovanii.png);
}
ul#navigation .o-vacancies a{
    background-image: url(images/o-vacancy.png);
}
ul#navigation li a span{
    
}
div.overlay {}
div.overlay div.close {background-image:url(images/close.png);position:absolute;
right:5px;top:5px;cursor:pointer;height:35px;width:35px;}
#overlay {background-image:url(images/fon.png);background-repeat:no-repeat;}
#overgoop {background-image:url(images/fon.png);background-repeat:no-repeat;}
div.wrap {height:441px;overflow-y:auto;}
.contact-title {color:hsl(216, 41%, 55%); font-size: 2em;}
.contact-input {font-family:Times New Roman, serif;float:left;padding:2px;
margin:2px;background:#eee;border:1px solid #fff;width:300px;
}
.lable {text-align:left;clear:left;display:block; font-size:13px;font-family:Times New Roman, serif;color:#FF2B29;}
.input {text-align:left;background-color:#ffffff;border: 1px solid #dfdfdf; border-radius: 4px; font-size:14px;
font-family:Times New Roman, serif;color:#1C5455;}
.warning_table {background:#F0F0F0;border:solid 5px #dfdfdf;border-radius:10px;
-moz-border-radius:10px;-webkit-border-radius:10px;-webkit-box-shadow:#666 0px 2px 3px;
-moz-box-shadow:#666 0px 2px 3px;box-shadow:#666 0px 2px 3px;behavior: url(PIE.htc);
}
.warning_font_big {font:Times New Roman, serif;font-size:30px;color:#B70004;}
.warning_font {font-family:Times New Roman, serif;
font-size:13px;color:#333;padding-top:15px;
}
input.lable {text-align:left;background-color:#ffffff;border: 1px solid #dfdfdf; border-radius: 4px; font-size:14px;
font-weight:normal;font-family:Times New Roman, serif;color:#1C5455; width: 100%; height: 200px;white-space: pre-wrap;}
#parent_popup {display:none;height:100%;opacity: 0.97;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); /* работает в IE6, IE7 и IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=90)"; /* только для IE8 */
filter: alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity:0.9;
position:fixed;width:100%;z-index:10000;top:0;left:0;text-align: center;
}
#popupup {
	margin: 160px auto; 
	background: #e8e8e8; 
	background-repeat:repeat;
	width:600px;
	height: auto;
	padding: 20px;
	color:#f00; 
	z-index:10001;
	border: solid 5px #dfdfdf;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-webkit-box-shadow:#666 0px 2px 3px;
	-moz-box-shadow:#666 0px 2px 3px;
	box-shadow:#666 0px 2px 3px;
	text-align: center;
}
#close {background-image:url(images/close.png);
cursor:pointer;height:35px;width:35px; float: right;
}
a.images {background:url("images/knopka.png");display:block; 
width:200px;height:30px;border:0; 
}
a.images:hover {
	background:url("images/knopka-2.png");
	width:200px; 
	height:30px;
	border:0; 
}

.phone_form {
}
#user_number{
	font-size: 16px;
	color: #363636;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px 8px 8px;
}
#user_name {
	font-size: 16px;
	color: #363636;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px 8px 8px;
}

#user_email {
	font-size: 16px;
	color: #363636;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px 8px 8px;
}

#user_phone {
	font-size: 16px;
	color: #363636;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px 11px 8px 36px;
}

.user_phone {
	position: relative;
}
.user_phone:before {
	content: "+38";
	display: block;
	color: #363636;
	position: absolute;
	font-size: 16px;
	position: absolute;
	top: 9px;
	left: 7px;
}

input:not(:placeholder-shown) { }

.btn_submit {
	margin-top: 20px;
    height: 30px;
    background: hsl(216, 41%, 55%);
    color: #fff;
    border: none;
    width: 120px;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    margin-left: 35%;
    border-radius: 4px;
}
.btn_submit.disabled {
	color: #363636;
	background: #ccc;
}

.popup p, .popup div {
    padding: 5px;
}

.documents-box {
    display: -webkit-flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

.documents-box img {
    max-width: 100%;
    max-height: 100%;
}

.documents-box--item {
    width: 13%;
    min-width: 170px;
    margin: 10px 40px;
}

.highslide img {cursor: url(highslide/graphics/zoomin.cur), pointer !important;}

.vk{
	width:30em;
}

.present{
	position:absolute;
	top:16%;
	right:1%;
	cursor:pointer;
	transition: .4s;
}

.present:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.111{
	font-size:16px;
}

  .present_text {
    color: red;
    text-shadow: 1px 1px 2px #212121;
    position: absolute;
    top: 12%;
    right: 1%;
    font-size: 26px;
  }

/* Базовые стили модального окна  */
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color: #e8e8e8;
    border: 5px solid #dfdfdf;
    display: inline-block;
    left: 40%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 25%;
    visibility: hidden;
    z-index: 10;
	
    -webkit-transform: translate(-17%, -17%);
    -moz-transform: translate(-17%, -17%);
    -ms-transform: translate(-17%, -17%);
    -o-transform: translate(-17%, -17%);
    transform: translate(-17%, -17%);

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;


    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.popup img {
	width: 250px; 
	height: 250px;
    margin: 0 auto;
    display: block;
}
.overlay:target+.popup {
    top: 25%;
    opacity: 1;
    visibility: visible;
}
.popup p {
	font-size: 14px; 
	font-weight: normal;
}
.popup li{
	font-size: 16px;
}

.close {
background-image:url(images/close.png);
    height: 35px;
    position: absolute;
    right: 5px;
    text-align: center;
    text-decoration: none;
    top: 5px;
    width: 35px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}


